<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	YXO16XUYJivbLccgfT3FU5I2SFXC7Q1pgsdrz/leRCZ8QQ6ErddtMH0f6JzZ5C5dNUOL
	L8qUyNYmfF5o/W0YUn6KJ02TTHrG3DabsHxqY9cnCi3EEhE4TY3yk57MX+r1DU+iV1zE
	Xg6i6sock7RfRR362e7kTyCCHpZeBo44wyg=
	</data>
</dict>
</plist>
